.Rproj.user
/.Rhistory
output/
data/
doc/2018.11.19_MarginalLandsReport.rmd
doc/2018.11.19_MarginalLandsReport.html
*.aux
*.bbl
*.blg
*.log
*.docx
*.odt
*.pptx
*.xlsx
*.bib
*.gz
*.pdf
*.bcf
*.toc
*.out
*.lot
*.xml
*.lof
/doc/pandocconversion.bat
